@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-center {
  border-radius: 0;
  border-left: 1px solid alpha(@foreground, 0.2);
  border-right: 1px solid alpha(@foreground, 0.2);
  padding: 0 60px;
  margin: 8px 0;
}

.modules-right {
  margin-right: 8px;
}

#custom-omarchy {
  padding-right: 12px;
  border-right: 1px solid alpha(@foreground, 0.2);
  border-radius: 0;
}

#workspaces button {
  all: initial;
  padding: 0 8px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
  border-bottom: 4px solid alpha(@foreground, 0.2);
}

#workspaces button.empty {
  opacity: 0.3;
}

#tray,
#cpu,
#memory,
#temperature,
#battery,
#network,
#bluetooth,
#pulseaudio,
#window,
#custom-omarchy,
#custom-update,
#custom-vpn {
  min-width: 12px;
  margin: 0 7.5px;
}

#network,
#pulseaudio {
  font-size: 11px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#cpu.warning {
  color: mix(@foreground, #FFFF00, 0.6);
}

#cpu.critical {
  color: mix(@foreground, #FF0000, 0.6);
}

#memory.warning {
  color: mix(@foreground, #FFFF00, 0.6);
}

#memory.critical {
  color: mix(@foreground, #FF0000, 0.6);
}

#temperature.critical {
  color: mix(@foreground, #FF0000, 0.6);
}

.hidden {
  opacity: 0;
}


#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-weather {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}
